#footer{
	margin-top: 20px;
	
}
/*-------------------------------footer section---------------------*/
#footer{
	background-color:#1C2331;
	color: #fff;
}
.about p{
	margin-top: 30px;
}
.about .content{
	font-size: 12px;
}
.about li{
	list-style-type: none;
}
.about a{
	color: white;
	font-size: 12px;
}
.about a:hover{
	color: white;
}
.social{
	margin-bottom: 15px;
}
.social a{
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 10px;
}
.social a:hover{
	color: black;
	transition: 0.6s;
	font-size: 20px;
	padding: 10px;
}
hr{
	background: #fff;
}
.cpryt{
	margin-bottom: 0;
	text-align: center;
	padding-bottom: 20px;
}
.cpryt a{
	color: #fff;
}




